---
import Header from "@Components/header/Header.astro";
import Layout from "../layouts/Layout.astro";
import UIShape from "@SVG/UIShape.astro";
import SectionHero from "@Components/section_hero/Hero.astro";
import Footer from "@Components/footer/Footer.astro";
import SectionServices from "@Components/section_services/Services.astro";
import SectionGirls from "@Components/section_girls/Girls.astro";
import SectionShop from "@Components/section_shop/Shop.astro";

import FetchFromDatoCMS from "@Lib/datocms.ts";
const data = await FetchFromDatoCMS();

// LOCAL DATA!!!
// Remove CACHE folder to get updated data!!!
// import LocaleData from "@Lib/localdata";
// const data = await LocaleData();
---

<Layout data={data._site}>
  <UIShape />
  <Header />
  <main class="main">
    <SectionHero data={data.heroSection} />
    <SectionServices data={data.servicesSection} />
    <SectionGirls data={data.girlsSection} />
    <SectionShop data={data.shopSection} />
  </main>
  <Footer />
</Layout>

<style>
  .main {
    display: flex;
    flex-direction: column;
    grid-column: 2 / -2;
  }
</style>
