---
import Title from "@Components/title/index.astro";
import Description from "@Components/description/index.astro";

import type { IShop } from "@Types";
interface Props {
  data: IShop;
}

const { description, title, image } = Astro.props.data;
---

<section id="shop" class="grid column2-2 shop">
  <Title data={title} />
  <Description data={description} />
  <div class="shop__images">
    {
      image.map((img) => (
        <img
          class="shop__image"
          src={img.responsiveImage.src}
          alt={img.responsiveImage.alt}
          width={img.responsiveImage.width}
          height={img.responsiveImage.height}
          aria-label={img.responsiveImage.alt}
          title={img.responsiveImage.alt}
          srcset={img.responsiveImage.srcSet}
          sizes={img.responsiveImage.sizes}
        />
      ))
    }
  </div>
</section>

<style>
  .shop__images {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-36);
    justify-content: center;
  }
  .shop__image {
    max-width: 260px;
    object-fit: cover;
    clip-path: url(#clipping);
  }
  @media (max-width: 559px) {
    .shop__image {
      max-width: 300px;
    }
  }
</style>
